div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
div.nav li {
    float: left;
  }
  
div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
div.nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  h1 {
    color: rgb(122, 6, 6);
  }
  
  h2 {
    color: aqua;
  }
body{
    background-color: darkviolet;
}

  .active {
    background-color: #04AA6D;

  }

 footer {
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    color: maroon;
    text-align: center;
    background-color: green;
    }